.results {
    text-align: left;

    .restaurant-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        padding: 1rem;
        background-color: #f9f9f9;        
    }

    @media (max-width: 768px) {
        .restaurant-list {
            grid-template-columns: 1fr;
        }
    }    
}